# Geral
/.fast-build
*.versionsBackup
*.log
bin
build
node_modules

# Maven
pom.xml.releaseBackup
release.properties
target

# Eclipse
target-eclipse
org.maven.ide.eclipse.prefs
org.eclipse.wst.*
org.eclipse.jst.*
org.eclipse.ltk.*
.project
.classpath
.factorypath
.settings/
.jsdtscope

# Jrebel
rebel.xml

# Sublime
/sublime-project

# Idea IntelliJ
.idea
*.iml
overlays/

